/*헤더 스타일*/
header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

/*섹션 스타일*/
section {
    padding: 20px;
    text-align: center;
}

/*버튼 스타일*/
.btn-group button {
    display: inline-block; /* 버튼을 인라인 블록 요소로 설정 */
    margin-right: 5px; /* 버튼 간격 설정 */
    background-color: #4CAF50;
    /* Green background */
    border: 1px solid green;
    /* Green border */
    color: white;
    /* White text */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    width: auto; /* 수정된 부분 */
    text-align: center;
    line-height: 1.5; /* 추가된 부분 */
}

/*활성화된 버튼 스타일*/
.active {
    background-color: #666;
    border: 1px solid #666;
}

/*웹툰커버 이미지 스타일*/
.cover {
    width: 100%;
    height: 200px;
    object-fit: cover;
}