/*헤더 스타일*/
header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

/*섹션 스타일*/
section {
    padding: 20px;
    text-align: center;
}

/*버튼 스타일*/
.btn-group button {
    display: inline-block; /* 버튼을 인라인 블록 요소로 설정 */
    background-color: white; /* 배경색을 흰색으로 설정 */
    border: 1px solid rgb(255, 255, 255); /* 테두리를 검정색으로 설정 */
    border-bottom: 1px solid rgba(165, 165, 165, 0.493); /* 하단 테두리만 2px로 설정 */
    color: black; /* 글자색을 검정색으로 설정 */
    /* Green border */
    padding: 10px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    width: auto; /* 수정된 부분 */
    text-align: center;
    line-height: 1.5; /* 추가된 부분 */
    margin-bottom: 5px;
}

/*활성화된 버튼 스타일*/
.active {
    background-color: #666;
    border: 1px solid #666;
}

#covers {
    margin-top: 5px;
}

.cover-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*웹툰커버 이미지 스타일*/
.cover {
    display: inline-block;
    width: 15%;
    height: 350px;
    object-fit: cover;
    margin: 15px;
}

.title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}